@{
  Layout = "_Layout";
}

@using MusicFestival.Models;
@model List<MusicFestival.Models.Stage>;

<h1> Stages </h1>

@if (@Model.Count == 0)
{
  <h3> No stages are present </h3>
}

@foreach (Stage stage in Model)
{
  <li>@Html.ActionLink($"{stage.Description}", "Details", new { id = stage.StageId })</li>
}
<br>
<p>@Html.ActionLink("Add Stage", "Create")</p>
<!-- <p>@Html.ActionLink("View Artists", "Index", "Artists")</p> -->
<!-- <p>@Html.ActionLink("Return to Home", "Index", "Home")</p> -->

